.result-container {
height: 100%;
align-content: center;
text-align: center;
font-family: Verdana, sans-serif;
display: grid;
grid-gap: 3px;
grid-template-columns: repeat(auto-fill,min-max(200px,1fr));
background-color: rgb(250, 194, 17);
}

.result-container h1#page-title {
    font-family: Verdana, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: darkslategrey;
    text-shadow: 1px 1px white
}