/* nice styling! */
.search-input {
  font-size: 1em;
  border-radius: 3px;
  border-color: rgb(250, 194, 17);
  color: rgb(43, 31, 9);
}

button {
  font-size: 1em;
  color: rgb(250, 194, 17);
  background-color: rgb(43, 31, 9);
  border-color: rgb(141, 105, 0);
  border-radius: 3px;
}
