.search-input {
  font-size: 1em;
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
  color: rgb(43, 31, 9);
  box-sizing: border-box;
  border: 5px rgb(250, 194, 17);
  padding: 5px;
  height: 40px;
  outline-offset: 10%;
}

button {
  font-size: 1em;
  color: rgb(250, 194, 17);
  background-color: rgb(43, 31, 9);
  border-color: rgb(141, 105, 0);
  border-radius: 3px;
  position: relative;
  top: 0;
  right: 0;
  width: 0 auto;
  padding: 5px;
  height: 40px;
  opacity: 10;
  cursor: pointer;
}
